{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme formContact 'bootstrap_4_layout.html.twig' %}

	<h4>Envoyer votre message !</h4>

	    <section id="actus" class="container">

    
		    {{ form_start(formContact) }}

		        {{ form_row(formContact.firstName,{'attr': {'placeholder': 'Votre prénom'}}) }}
		        {{ form_row(formContact.lastName,{'attr': {'placeholder': 'Votre nom'}}) }}
		        {{ form_row(formContact.email,{'attr': {'placeholder': 'Votre email'}}) }}
		        {{ form_row(formContact.phoneNumber,{'attr': {'placeholder': 'Votre email'}}) }}
		        {{ form_row(formContact.content,{'attr': {'placeholder': 'Votre message'}}) }}

		    {{ form_end(formContact) }}
    	</section>

{% endblock %}