{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme formContact 'bootstrap_4_layout.html.twig' %}

	<h4>Envoyer votre message !</h4>

	    <section id="actus" class="container">

    
		    {{ form_start(formContact) }}

		        {{ form_row(formContact.firstName) }}
		        {{ form_row(formContact.lastName) }}
		        {{ form_row(formContact.email) }}
		        {{ form_row(formContact.phoneNumber) }}
		        {{ form_row(formContact.content) }}

		    {{ form_end(formContact) }}
    	</section>

{% endblock %}