{% extends 'base.html.twig' %}
{% block title %}Danse baby danse !{% endblock %}

{% block body %}


	<h4>Tous nos évènements</h4>

	    <section id="actus" class="container">
            <div> <!-- DO NOT DELETE !! -->
                <div id="contenant-card"> <!-- contenant card -->
                    
                    {% for actu in actus %} 
                    <div class="card col s12 row">

                            <div class="card-image">
                                <img src="{{ asset('/uploads/images/actus/'~actu.urlimg) }}">
                                <span class="card-title teal-text">{{ actu.title }}</span>
                            </div>
                            <div class="card-content">
                                <p>Lieu : {{ actu.place }}</p>
                                <hr />
                                <p>Date: {{ actu.eventDate | date('d/m/Y') }}</p>
                                <p>Ticket d'entrée: {{ actu.price }}€/pers</p>
                                <hr>
                                <p>{{ actu.content }}</p>
                            </div>
                    </div>
                    {% endfor %}

                </div>
                
            </div> <!-- DO NOT DELETE !! -->
        </section> <!-- END OF SECTION actus -->

{% endblock %}