<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DanseBD</title>
        <!-- Compiled and minified CSS -->
    
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        {% endblock %}
    </head>
    
    <body>
    	<header>
			<nav>
			  <div class="nav-wrapper grey darken-4">
			    <a href="{{ path('home') }}" class="brand-logo">Danse baby danse !</a>
			    <ul class="right hide-on-med-and-down">
			      <!-- Dropdown Trigger -->
			      <li><a class="dropdown-trigger" href="#!" data-target="planning">Plannings/Tarifs<i class="material-icons right"></i></a></li>
			      <li><a class="dropdown-trigger" href="#!" data-target="stage">Stages<i class="material-icons right"></i></a></li>
			      <li><a class="dropdown-trigger" href="{{ path('inscriptions') }}" data-target="inscriptions">Pré-inscriptions<i class="material-icons right"></i></a></li>
			      <li><a class="dropdown-trigger" href="#!" data-target="annonces">Petites annonces<i class="material-icons right"></i></a></li>
			      <li><a class="dropdown-trigger" href="{{ path('contact') }}" data-target="annonces">Contactez-nous !<i class="material-icons right"></i></a></li>
			      <li><a href="#!">Espace membre</a></li>
			    </ul>
			  </div>
			</nav>
        </header>


        <div class="container-fluid">

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


        <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Danse Baby Danse !</h5>
                <p class="grey-text text-lighten-4">510 chemin des danseurs<br>13400 - Aubagne</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Nos liens</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Plannings/Tarifs</a></li>
                  <li><a class="grey-text text-lighten-3" href="{{ path('inscriptions') }}">Pré-inscriptions</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Petites annonces</a></li>
                  <li><a class="grey-text text-lighten-3" href="{{ path('contact') }}">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright LuluBerlue
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            
        
		</div>

        <!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    </body>
</html>
